.grid-item__container {
  position: relative;
  margin-bottom: 20px;
}

.grid-item__image {
  width: 100%;
  background: url(../../public/bg-tile-dark.png)
}

.grid-item__controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  align-items: center;
  justify-items: center;
}

.grid-item__button {
  cursor: pointer;
  transform: scale(0);
}

.grid-item__container:hover .grid-item__controls {
  opacity: 1;
  transition: 150ms;
}

.grid-item__container:hover .grid-item__button {
  transform: scale(1);
  transition: 150ms;
}
